<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Game</title>
</head>
<body>
<div id="updateGame">
    <h1>Adding Game</h1>
    <form id="update">
        <label for="title">Game Title</label>
        <input type="text" name="title" id="title" value="{{title}}"></br>

        <label for="reqAge">Age Requirements</label>
        <input type="number" name="reqAge" id="reqAge" value="{{reqAge}}"></br>

        <label for="about">About the Game</label>
        <textarea name="about" id="about">{{about}}</textarea></br>

        <label for="headimg">Header Image</label>
        <input type="file" name="headimg" accept="image/*"></br>

        <label for="devs">Developers</label>
        <input type="text" name="devs" id="devs" value="{{devs}}"></br>

        <label for="pubs">Publishers</label>
        <input type="text" name="pubs" id="pubs" value="{{pubs}}"></br>

        <label for="cat">Categories</label>
        <textarea name="Categories" id="cat">{{cat}}</textarea></br>

        <label for="gen">Genres</label>
        <textarea name="gen" id="gen">{{gen}}</textarea></br>

        <label for="tag">Tags</label>
        <textarea name="tag" id="tag">{{tag}}</textarea></br>

        <label for="site">Website</label>
        <input type="text" name="site" id="site" value="{{site}}"></br>

        <label for="ach">Achievements</label>
        <textarea name="ach" id="ach">{{ach}}</textarea></br>

        <label for="supurl">Support URL</label>
        <input type="text" name="supurl" id="supurl" value="{{supurl}}"></br>

        <label for="supemail">Support Email</label>
        <input type="text" name="supemail" id="supemail" value="{{supemail}}"></br>

        <label for="suplang">Supported Languages</label>
        <textarea name="suplang" id="suplang">{{suplang}}</textarea></br>

        <label for="audio">Full Audio Languages</label>
        <textarea name="audio" id="audio">{{audio}}</textarea></br>

        <label for="available">Available for:</label>
        <label for="windows">Windows</label><input type="checkbox" name="windows" id="windows" value="windows" {{#if windows}}checked{{/if}}>
        <label for="linux">Linux</label><input type="checkbox" name="linux" id="linux" value="linux" {{#if linux}}checked{{/if}}>
        <label for="mac">Mac</label><input type="checkbox" name="mac" id="mac" value="mac" {{#if mac}}checked{{/if}}></br>

        <label for="screenshot">Add Screenshot</label>
        <input type="file" name="screenshot" accept="image/*"></br>

        <input type="submit" value="Add Game">
    </form>
</div>
</body>
</html>
